    <footer>
        <h2>Thank You for scrolling through my website</h2>
        <p>Contact me at: <a href="mailto:kartikay.sachdeva@ontariotechu.net">kartikay.sachdeva@ontariotechu.net</a></p>
        <p>&copy; 2024 Kartikay Sachdeva. All rights reserved.</p>
          <p>Follow me on:
    <a href="https://github.com/kartikay-sachdeva" target="_blank" class="btn btn-dark">
      <i class="fab fa-github"></i> GitHub
    </a>
    <a href="https://www.linkedin.com/in/YourUsername" target="_blank" class="btn btn-primary">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
  </p>
    </footer>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Data Analyst &#46;', 'Web Developer &#46;'],
            typeSpeed: 50,
        });
    </script>
</body>
</html>
