<%- include('partials/header') %>

<main>
    <section id="about" class="first_section">
        <h1>About Me</h1>
        <p>Hi, my name is <span class="purple">Kartikay</span>, and I am an aspiring Data Analyst and Web Developer. 
        I have a passion for creating data-driven solutions and building user-friendly web applications. 
        My educational background and certifications in data analysis and web development help me approach 
        problems analytically and craft solutions that are both functional and visually appealing.</p>
        <br>
        <p>In addition to my technical skills, I am a committed learner, always looking to deepen my knowledge 
        in areas like cloud computing and advanced analytics. I enjoy tackling complex problems, and I'm 
        always excited to apply my skills to new projects.</p>

        <p>I hope you have a great time scrolling through my website.</p>
    </section>
</main>

<%- include('partials/footer') %>
