<%- include('partials/header') %>
<main>
    <section id="about" class="first_section">
        <div class="leftsection">
            Hi, my name is <span class="purple">Kartikay</span>
            <div>and I am an aspiring</div>
            <span id="element"></span>
        </div>
        <div class="rightsection">
            <img src="/Assets/images/self1.jpg" alt="Kartikay's image">
            <video width="300px" height="200px" controls poster="/Assets/images/self1.jpg">
                <source src="/Assets/images/Introduction.mp4" type="video/mp4">
                <source src="/Assets/images/Introduction.ogv" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</main>
<%- include('partials/footer') %>