<%- include('partials/header') %>
<main>
    <section id="projects" class="second_section">
        <h1>Projects</h1>
        <article class="project">
            <h3>Project 1: VBA Calculator</h3>
            <p>The electricity bill calculator built with VBA in Microsoft Excel likely automates the process of
                        calculating electricity usage costs based on data inputs like usage (in kWh), rate per unit, and
                        other relevant factors (such as taxes or additional fees). Users input their usage data, and
                        your program automatically generates a detailed bill that includes the total cost, breakdowns of
                        charges, and potentially a summary of usage. VBA (Visual Basic for Applications) allows for such
                        automation, enabling you to create forms, generate reports, and process data efficiently within
                        the familiar Excel interface.</p>
            <ul>
                <ul><strong>Technologies Used : </strong>Microsoft Excel, VBA Language, MySQL</ul>
            </ul>
        </article>
        <article class="project">
            <h3>Project 2: Hangman Game</h3>
            <p>My Python-based Hangman game is an interactive word-guessing game where players try to figure out
                        a hidden word by guessing letters within a limited number of attempts. The program selects a
                        random word from a predefined list, displays the word as a series of blanks, and updates the
                        blanks with correct guesses. Incorrect guesses result in a "hangman" figure being drawn piece by
                        piece. The game continues until the player either guesses the word correctly or uses up all
                        their attempts</p>
            <ul>
                <ul><strong>Technologies Used:</strong> Python Programming Language</ul>
            </ul>
        </article>
    </section>
</main>
<%- include('partials/footer') %>